<%- include('../partials/header') %>

<h1>Access Denied</h1>
<p>You do not have permission to view this page.</p>
<img src="/images/403.png" alt="403 Forbidden. Access denied." class="error-image" style="max-width: 100%; height: auto;">

<%- include('../partials/footer') %>
